@import "../../../../styles/mixin.scss";

.wrapper {
  padding: 10px 45px;

  .title {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 500;
  }

  .content {
    display: grid;
    margin: 15px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include respond-above(lg) {
      margin: 10px 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-above(lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
