@import "../../../../styles/mixin.scss";

.wrapper {
  .img {
    margin: -22px 0 20px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .title {
    margin: 60px 0 0;
    font-size: 8rem;
    font-weight: 600;

    @include respond-above(lg) {
      font-size: 6rem;
      font-weight: 600;
    }

    @include respond-above(md) {
      font-size: 4.5rem;
      font-weight: 600;
    }
  }

  .icon-list {
    .icon {
      font-size: 3rem;

      span {
        margin: 0 10px;
        font-weight: 300;
      }

      & + .icon {
        margin-left: 15px;
      }
    }
  }

  .content {
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;

    p {
      margin: 0;
      font-size: 2rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      padding: 0 10px;
      margin: 20px 0;
    }

    strong,
    em,
    u {
      font-size: inherit;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }
  }

  .source {
    font-weight: 400;
    font-size: 1.8rem;

    span {
      display: inline-block;
      margin-left: 10px;
      color: var(--blue);
      font-size: 1.8rem;
      font-weight: 300;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .back-btn {
    font-size: 2rem;
    padding: 15px 20px;
    background-color: var(--blue);
  }
}
