@import "../../../styles/mixin.scss";

.wrapper {
  background-image: url("/images/blog/EllipseBottom.png"),
    url("/images/blog/EllipseRight.png");
  background-repeat: no-repeat;
  background-position: 0 100%, top right;

  @include respond-above(md) {
    background-position: top left, bottom right;
  }

  .title {
    display: inline-block;
    font-size: 8rem;
    font-weight: 600;

    @include respond-above(md) {
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 500;
    gap: 10px;

    button {
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: var(--white);
      background-color: var(--purple-btn);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--purple-hover-btn);
      }

      &:disabled {
        background-color: var(--light);
        cursor: not-allowed;
      }
    }
    span {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
