@import "../../styles/mixin.scss";

.wrapper {
  position: absolute;
  left: 100%;
  animation: autoRunLeft 28s linear infinite;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #cccccc;
  box-shadow: 2px 3px 2px 0px var(--tag-shadow);
  width: calc(100% / 5);

  &.right {
    animation: autoRunRight 28s linear infinite;
  }

  //Delay
  &:nth-child(1) {
    animation-delay: calc((28s / 8) * (0 - 1));
  }
  &:nth-child(2) {
    animation-delay: calc((28s / 8) * (1 - 1));
  }
  &:nth-child(3) {
    animation-delay: calc((28s / 8) * (2 - 1));
  }
  &:nth-child(4) {
    animation-delay: calc((28s / 8) * (3 - 1));
  }
  &:nth-child(5) {
    animation-delay: calc((28s / 8) * (4 - 1));
  }
  &:nth-child(6) {
    animation-delay: calc((28s / 8) * (5 - 1));
  }
  &:nth-child(7) {
    animation-delay: calc((28s / 8) * (6 - 1));
  }
  &:nth-child(8) {
    animation-delay: calc((28s / 8) * (7 - 1));
  }

  @include respond-above(lg) {
    width: calc(100% / 3);

    &:nth-child(1) {
      animation-delay: calc((22s / 8) * (0 - 1));
    }
    &:nth-child(2) {
      animation-delay: calc((22s / 8) * (2 - 1));
    }
    &:nth-child(3) {
      animation-delay: calc((22s / 8) * (4 - 1));
    }
    &:nth-child(4) {
      animation-delay: calc((22s / 8) * (6 - 1));
    }
    &:nth-child(5) {
      animation-delay: calc((22s / 8) * (8 - 1));
    }
    &:nth-child(6) {
      animation-delay: calc((22s / 8) * (10 - 1));
    }
    &:nth-child(7) {
      animation-delay: calc((22s / 8) * (12 - 1));
    }
    &:nth-child(8) {
      animation-delay: calc((22s / 8) * (14 - 1));
    }
  }
  @include respond-above(md) {
    padding: 10px 5px;
    animation: autoRunLeft 24s linear infinite;
    width: calc(100% / 2);

    &.right {
      animation: autoRunRight 24s linear infinite;
    }

    &:nth-child(1) {
      animation-delay: calc((20s / 8) * (0 - 1));
    }
    &:nth-child(2) {
      animation-delay: calc((20s / 8) * (3 - 1));
    }
    &:nth-child(3) {
      animation-delay: calc((20s / 8) * (6 - 1));
    }
    &:nth-child(4) {
      animation-delay: calc((20s / 8) * (9 - 1));
    }
    &:nth-child(5) {
      animation-delay: calc((20s / 8) * (12 - 1));
    }
    &:nth-child(6) {
      animation-delay: calc((20s / 8) * (15 - 1));
    }
    &:nth-child(7) {
      animation-delay: calc((20s / 8) * (18 - 1));
    }
    &:nth-child(8) {
      animation-delay: calc((20s / 8) * (21 - 1));
    }
  }
}

// Animation
@keyframes autoRunLeft {
  from {
    left: 100%;
  }
  to {
    left: calc(100vw * -1);
  }
}

@keyframes autoRunRight {
  from {
    left: calc(100vw * -1);
  }
  to {
    left: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  text-align: left;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 69px;
  height: 69px;
  border-radius: 50%;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.content {
  flex: 1;
  text-align: center;

  .name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;

    @include respond-above(md) {
      font-size: 1.3rem;
    }
  }
}
