@import "../../../styles/mixin.scss";

.wrapper {
  padding: 10px;

  .header {
    padding: 0 10px;
  }

  .content {
    min-height: 100vh;
    padding: 10px;

    .title {
      font-size: 8rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center;

      @include respond-above(md) {
        display: flex;
        justify-content: center;
        font-weight: 600;
      }
    }
  }
}