@import "../../../styles/mixin.scss";

.wrapper {
  .title {
    display: inline-block;
    font-size: 8rem;
    font-weight: 600;

    @include respond-above(md) {
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
  }
}
