@import "../../styles/mixin.scss";

$types: (
  "user": (
    var(--light-blue),
    var(--dark-blue),
  ),
  "blog": (
    var(--light-purple),
    var(--dark-purple),
  ),
  "request": (
    var(--light-red),
    var(--dark-red),
  ),
  "response": (
    var(--light-green),
    var(--dark-green),
  ),
);

.wrapper {
  padding: 15px 30px;
  border-radius: 8px;

  @each $type, $colors in $types {
    &.#{$type} {
      background-color: nth($colors, 1);

      .content {
        color: nth($colors, 2);
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
      }

      .title {
        margin-top: 5px;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .total {
      color: var(--title-panel);
      font-size: 3rem;
      font-weight: 500;
    }
  }
}
